@keyframes yesVert {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes yesHoriz {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes noVert {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

@keyframes noHoriz {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}